.team.section{
    
    padding: 40px;
    margin: 30px;
    background-color:#D9D9D9;
    border-radius: 20px;
}

.roles{
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nicknames{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}