.team.section{
    padding: 40px;
    margin: 30px;
    background-color:#D9D9D9;
    border-radius: 20px;
}

.roles.item {
    font-size: 36px;
}

.roles, .nicknames{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
}